h1 {
    font-size: 2em;
    letter-spacing: 1.2em;
    text-shadow:2px 2px 3px burlywood;
    border-bottom:solid 3px rgb(115, 115, 114);
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-style:normal;
  }

 body{
    font-family: "Arial", "Meiryo", sans-serif;
}

.text-red{
 color:skyblue
}
.text-pink{
    color: rgb(255, 192, 203);
}
html{
    text-align: center;
    font-size: 20px;
}
#basic p {
    font-weight: bold;
}


